html {
    background-color: #f2f2f2;
}

body {
    margin: 0;
    padding: 0;

    background-color: #fff;
    box-shadow: 0 0 15px -5px #000;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #000;
    text-transform: uppercase;

}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}

.button {
    display: inline-block;
    /* padding: 30px 100px; */
    /* margin-right: 6px; */

    font: inherit;
    color: #f7f4f1;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    
    background-color: #766357;
    border: none;
}

.button:hover,
.button:focus {
    background-color: #604e43;
    cursor: pointer;
}

.button:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3)
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    
}

header {
    padding-bottom: 510px;


    /* background-color: #d9ebf4; */
    background-image: url("img/Welcome-1.png"), url("img/background_photo-min.jpg");
    
    background-repeat: no-repeat, no-repeat;
    background-position: center 134px, top center;
    
}

.main-logo {
    position: absolute;
    margin-left: 531px;
    top: 0;
}

.site-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-right: 72px;
    padding-left: 72px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #fff;
}

.site-navigation li {
    width: 264px;

    padding-top: 16px;
    padding-bottom: 14px;
    text-align: center;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
    text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
    text-align: right;
}

.site-navigation a {
    margin: 0;
    padding: 0;
    color: #000;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
}

.site-navigation .current {
    color: #766357;
}

.site-navigation a:hover {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 21px;
    line-height: 26px;

    padding-top: 62px;
    padding-bottom: 33px;
}

.features p {
    margin: 0;
    padding: 0;
    text-align: center;

    padding-bottom: 55px;
}

.feature-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    text-align: center;
    list-style: none;
}

.feature-list > li:nth-child(3),
.feature-list > li:nth-child(4),
.feature-list > li:nth-child(5) {
    width: 400px;
    padding-bottom: 33px;
    background-color: #eee;
}

.feature-item h3{
    font-size: 21px;
    line-height: 21px;

    /* Ровняла ширину под "там есть мост дьявола". Мб /br ? */
    width: 151px;
    /* margin-left: auto;
    margin-right: auto;   Вместо инлайн-блок*/
    text-align: center;
    display: inline-block;
    margin-top: 45px;
    margin-bottom: 20px;
}

.feature-item p{
    font-size: 14px;
    line-height: 21px;

    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 27px;
}

.feature-number {
    padding-bottom: 27px;
}

.feature-item-fhoto {
    display: flex;
    flex-wrap: nowrap;
}

.features-fhoto img {
    display: block;
    object-fit: cover;
}

.features-info {
    margin: 0;
    padding: 0;
    
    background-color: #81b3d2;

    color: #fff;
}

.feature-item > ul {
    margin: 0;
    padding: 0;

    display: flex;
    list-style: none;
}

.feature-item li {
    width: 400px;
    padding-top: 115px;
    padding-bottom: 55px;
    /* Наверно нужно было делать эти отступы от заголовка и p, но мне было лень */
}

.feature-item li:nth-child(1) {
    background-image: url("img/home.svg");
    background-repeat: no-repeat;
    background-position: 163px 60px;
}

.feature-item li:nth-child(2) {
    background-image: url("img/food.svg");
    background-repeat: no-repeat;
    background-position: 163px 60px;
}

.feature-item li:nth-child(3) {
    background-image: url("img/souvenirs.svg");
    background-repeat: no-repeat;
    background-position: 170px 60px;
}

.feature-list > li:first-child {
    order: -2;
}
.feature-list > li:last-child {
    order: -1;
}

.feature-number {
    position: relative;
}

.feature-number:after,
.feature-number:before {
    content: "";
    position: absolute;
    width: 9px;
    height: 1px;
    background-color: #000;
}

.feature-item-fhoto .feature-number:after,
.feature-item-fhoto .feature-number:before {
    background-color: #fff;
}

.feature-number:after {
    top: 10px;
    margin-left: 6px;
}

.feature-number:before {
    top: 10px;
    margin-left: -16px;
}


.search-hostels b {
    margin: 0;
    padding: 0;
    padding-top: 55px;

    font-size: 30px;
    line-height: 36px;
    text-align: center;
    display: block;
}

.search-hostels p {
    padding-top: 30px;
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    display: block;
}

.button-search {
    display: block;
    padding: 30px 100px;
    /* margin: 0; */

    box-sizing: border-box;
    width: 570px;
    height: 86px;
    margin-left: auto;
    margin-right: auto;
}

.search-hostels-container {
    position: relative;
}

.modal {
    /* display: none; */
    position: absolute;
    
    transform: translate(-50%);
    left: 50%;

    width: 570px;
    height: 395px;
    background-color: #fff;
}

.search-hotels-form {
    margin: 0;
    padding: 55px;
}

.search-hotels-form p {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-hotels-form label {
    margin: 0;
    padding: 0;

    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
}

.search-hotels-form input[type="text"] {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    

    font: inherit;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;

    box-sizing: border-box;
    width: 346px;
    height: 38px;
    border: none;
    background-color: #f2f2f2;
    width: 346px;
    height: 38px;
    padding-right: 40px;
}

.group-adults input[type="text"] {
    width: 115px;
    height: 38px;
    padding-left: 54px;
    padding-right: 40px;
}

.search-hotels-form input[type="text"]:hover {
    background-color: #ebebeb;
}

.search-hotels-form input[type="text"]:focus {
    background-color: #fff;
    outline: 2px solid #e5e5e5;;
}


.calendar {
    position: absolute;
    width: 38px;
    height: 38px;
    right: 55px;
    margin-top: 7px; 
}

.calendar path,
.calendar rect {
    fill: #a9a9a9;
}

.calendar:hover path,
.calendar:hover rect,
.calendar:focus path,
.calendar:focus rect {
    fill: #000;
}

.calendar:active path,
.calendar:active  rect {
    fill: #81b3d2;
}

.group-adults {
    display: flex;
    justify-content: space-between;
}

.group-adults p {
    width: 229px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
}

.child label {
    margin-left: 53px;
}

.child,
.adult {
    position: relative;
}

.minus,
.plus {
    position: absolute;
    width: 10px;
    height: 10px;
}

.minus {
    left: 128px;
}

.plus {
    left: 204px;
}

.minus::after,
.plus::after,
.plus::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 2px;
    background-color: #a9a9a9;
}

.minus::after,
.plus::after {
    top: 50%;
    transform: translate(-50%);
}

.plus::before {
    top: 50%;
    margin-left: -5px;
    transform: rotate(90deg);
}

.minus:hover,
.plus:hover {
    cursor: pointer;
}

.minus:hover.minus::after,
.minus:focus.minus::after {
    background-color: #000;
}

.minus:active.minus::after {
    background-color: #81b3d2;
}

.plus:hover.plus::after,
.plus:focus.plus::after,
.plus:hover.plus::before,
.plus:focus.plus::before {
    background-color: #000;
}

.plus:active.plus::after,
.plus:active.plus::before {
    background-color: #81b3d2;
}

.search-hotels-form button {
    width: 460px;
    height: 58px;
    background-color: #81b3d2;
    padding: 0;
    border: none;
}

.search-hotels-form button:hover,
.search-hotels-form button:focus {
    background-color: #669ec0;
    outline: none;
}

.search-hotels-form button:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
    outline: none;
}

.main-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    min-height: 120px;
}

.main-footer b {
    font-size: 21px;
    line-height: 26px;
}

.social-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

.social-item a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    margin-right: 6px;
}

.social-item a:hover,
.social-item a:focus {
    background-color: #669ec0;
}

.social-item a:active {
    background-color: #5496bd;
}

.social-item a:active path {
    opacity: 0.3;
}

.html-academy {
    display: flex;
    align-items: center;
}

.html-academy p {
    margin-right: 8px;
    font-size: 14px;
    line-height: 26px;
}

.html-academy a:hover path,
.html-academy a:focus path,
.html-academy a:hover rect,
.html-academy a:focus rect {
    fill: #81b3d2;
}

.html-academy a:active path,
.html-academy a:active rect {
    fill: #bdbbbc;
}





/* .search-hotels-form input[placeholder],
.search-hotels-form::-webkit-input-placeholder,
.search-hotels-form::-moz-placeholder,          
.search-hotels-form:-moz-placeholder,           
.search-hotels-form:-ms-input-placeholder {
    font: inherit;
    color: #000;
    margin-left: 5px;

} */
    

